.Option.correct button {
  background-color: #b1dab1 !important;
}

.Option.correct.selected button {
  background-color: #5cd85c !important;
}

.Option.incorrect button {
  background-color: #dab1b1 !important;
}

.Option.incorrect.selected button {
  background-color: #ce5555 !important;
}
