.Element {
  width: 250px;
  height: 250px;
  padding: 10px;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ddd;
  box-shadow: 5px 5px 10px 5px rgba(150, 150, 150, 0.5);
}

p {
  margin: 0;
  font-size: 1.5rem;
}

.Element-number {
  align-self: flex-start;
  font-size: 2rem;
}

.Element-symbol {
  margin: 0;
  font-size: 6rem;
}
