.Option {
  background-color: #efefef;
  border-radius: 10px;
  padding: 10px;
  width: 140px;
  box-sizing: border-box;
  border: 3px solid transparent;
  cursor: pointer;
  font-family : inherit;
  font-size: 1rem;
}

.Option:focus {
  outline: none;
  border-color: #cdcdcd;
}

.Option.selected {
  border-color: #696969;
}

.Option.correct {
  background-color: #b1dab1;
}

.Option.correct.selected {
  background-color: #5cd85c;
}

.Option.incorrect {
  background-color: #dab1b1;
}

.Option.incorrect.selected {
  background-color: #ce5555;
}
