.Option.correct {
  background-color: #b1dab1;
}

.Option.correct.selected {
  background-color: #5cd85c;
}

.Option.incorrect {
  background-color: #dab1b1;
}

.Option.incorrect.selected {
  background-color: #ce5555;
}
