.Option {
  background-color: #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  box-sizing: border-box;
  cursor: pointer;
}

.Option:focus {
  outline: none;
  border: 1px solid #666;
}

.Option.correct {
  background-color: #0c0;
}

.Option.incorrect {
  background-color: #c00;
}
