html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: #f4f4f4;
}

div, header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
